body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: url("./assets/blue-background.jpeg");
    color: white;
  }                  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
}  
main {
    height: auto; 
  }
  
header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid white;
  }
img {
    width: 40%;
    border-radius: 25px;
    border: 1px solid white;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-radius: 15em;
    border: 1px solid white;
    width: 500px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}
.icon, .arrow{
  justify-content: center;
  height: 30px;
  width: 30px;
}
.content{
    max-width: 60vw;
    justify-content: center;
    align-items: flex-start;

}
a{
    color: white;
    
}