body {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic";
    background-color: black;
    color: white;
    width: 100%;
}



.section{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right,  rgb(0, 0, 0), rgb(0, 14, 80), rgb(4, 43, 116), rgb(3, 70, 194));  */
    background-color:slategray;
    
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
}
.navbar-nav .nav-link {
    color: white;
}
.navbar-nav .nav-link:hover {
   color: rgb(4, 39, 103);
}
.navtitle{

}

/* cover page */
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/wallpaper4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: left; 
}

.coverContent{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 10px;
    margin-left: 25%;
    
}

.icon a i {
    color: white;
}
.icon a:hover i {
    color: rgb(4, 39, 103);
}

    
/* about me page */
.aboutMe {
    display: row;
    height: auto;
    padding: 60px;
   
    
}
.aboutMeContent{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}


img {
    width: 250px;
    border-radius: 25px;
}


/* project page */
.project{
    padding: 60px;
    display: block;
   
}

.projectContent{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

/* skills page */
.skills{
    padding: 60px;
    display: row;
    align-items: center;
    justify-content: center;
    
    
  
}
.skillContent{
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    border: 5 solid black;
}


